{{define "content"}}
<main>
  <div class="section container">
    <h1 class="title">Oh no! Something went wrong.</h1>
    <h1 class="subtitle">You can try the action again, otherwise click here to go <a href="/" aria-label="home page">home.</a></h1>
  </div>
</main>
{{end}}
