{{define "content"}}
<main>
  <section class="hero is-fullheight-with-navbar">
    <div class="hero-body has-text-centered">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-one-quarter">
            <figure class="image">
              <img class="is-rounded" src="/static/images/profile.avif" alt="Profile image" />
            </figure>
          </div>
        </div>
        <p class="title">Taliesin Millhouse</p>
        <p class="subtitle">Software Engineer</p>
        <div class="buttons is-centered">
          <a class="button" href="https://gitlab.com/strongishllama" target="_blank">GitLab</a>
          <a class="button" href="https://github.com/strongishllama" target="_blank">GitHub</a>
        </div>
      </div>
    </div>
  </section>
</main>
{{end}}
