{{define "layout"}}
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- General head options. -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.4/css/bulma.min.css"
    integrity="sha512-HqxHUkJM0SYcbvxUw5P60SzdOTy/QVwA1JJrvaXJv4q7lmbDZCmZaqz01UPOaQveoxfYRv1tHozWGPMcuTBuvQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <meta name="description"
    content="My personal website where I post about topics that interest me and my open source work.">
  <meta name="mobile-web-app-capable" content="yes">
  <title>Taliesin Millhouse</title>
  <!-- Open Graph meta tags for social link previews. -->
  <meta content="Taliesin Millhouse · Software Engineer" property="og:title">
  <meta content="My personal website where I post about topics that interest me and my open source work."
    property="og:description">
  <meta content="/static/images/og-image.avif" property="og:image">
  <!-- Twitter meta tags for social link previews. -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Taliesin Millhouse · Software Engineer">
  <meta name="twitter:description"
    content="My personal website where I post about topics that interest me and my open source work.">
  <meta name="twitter:image" content="/static/images/og-image.avif">
  <!-- Analytics -->
  <script defer src='https://static.cloudflareinsights.com/beacon.min.js'
    data-cf-beacon='{"token": "302db4adb3dc4313b2ac7bd4ed4b5007"}'></script>
  <script>
    !function (t, e) { var o, n, p, r; e.__SV || (window.posthog = e, e._i = [], e.init = function (i, s, a) { function g(t, e) { var o = e.split("."); 2 == o.length && (t = t[o[0]], e = o[1]), t[e] = function () { t.push([e].concat(Array.prototype.slice.call(arguments, 0))) } } (p = t.createElement("script")).type = "text/javascript", p.async = !0, p.src = s.api_host + "/static/array.js", (r = t.getElementsByTagName("script")[0]).parentNode.insertBefore(p, r); var u = e; for (void 0 !== a ? u = e[a] = [] : a = "posthog", u.people = u.people || [], u.toString = function (t) { var e = "posthog"; return "posthog" !== a && (e += "." + a), t || (e += " (stub)"), e }, u.people.toString = function () { return u.toString(1) + ".people (stub)" }, o = "capture identify alias people.set people.set_once set_config register register_once unregister opt_out_capturing has_opted_out_capturing opt_in_capturing reset isFeatureEnabled onFeatureFlags getFeatureFlag getFeatureFlagPayload reloadFeatureFlags group updateEarlyAccessFeatureEnrollment getEarlyAccessFeatures getActiveMatchingSurveys getSurveys onSessionId".split(" "), n = 0; n < o.length; n++)g(u, o[n]); e._i.push([i, s, a]) }, e.__SV = 1) }(document, window.posthog || []);
    posthog.init('phc_i2ICm1y5u1l2ghGJgh5VffBfy0KHpG1Qalh5mKZZgpV', { api_host: 'https://app.posthog.com' })
  </script>
</head>

<body>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-burger" id="navbar-burger" role="navbar button">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div class="navbar-menu" id="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="/" aria-label="home page">Home</a>
        <a class="navbar-item" href="/posts" aria-label="posts page">Posts</a>
        <a class="navbar-item" href="/open-source" aria-label="open source page">Open Source</a>
        <a class="navbar-item" href="/contact" aria-label="contact page">Contact</a>
      </div>
      <div class="navbar-end">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-item" aria-label="additional pages">
            <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512">
              <path
                d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z" />
            </svg> </a>
          <div class="navbar-dropdown is-right">
            <a class="navbar-item" href="/licenses" aria-label="licenses page">Licenses</a>
          </div>
        </div>
      </div>
    </div>
  </nav>
  {{template "content" .}}
</body>

</html>
<script>
  let burger = document.getElementById("navbar-burger");
  let menu = document.getElementById("navbar-menu");
  document.getElementById("navbar-burger").addEventListener("click", function toggle(e) {
    burger.classList.toggle("is-active");
    menu.classList.toggle("is-active");
  });
</script>
{{end}}