{{define "content"}}
<main>
  <div class="section container has-text-centered">
    <h1 class="title">Licenses</h1>
    <h3 class="subtitle">This website is made possible thanks to the following licenses.</h3>
    <div class="content has-text-left">
      <h1 class="title is-4">FontAwesome</h1>
      <p>The FontAwesome icons are used under the following <a href="https://fontawesome.com/license"
          target="_blank">license</a>.</p>
    </div>
  </div>
</main>
{{end}}