{{define "content"}}
<main>
  <div class="section container">
    <h1 class="title">We're sorry, we were unable to find that page.</h1>
    <h1 class="subtitle">Click here to go <a href="/" aria-label="home page">home.</a></h1>
  </div>
</main>
{{end}}
