{{define "content"}}
<main>
  <div class="section container has-text-centered">
    <h1 class="title">Open Source</h1>
    <div class="has-text-left">
      <div class="content mb-4">
        <p>Contributing Open Source is something near and dear to my heart. It allows me to to give back to the
          community, experiment with new technologies, learn from others and collaborate with like-minded individuals
          around the world.</p>
        <p>Here are some of the Open Source projects I've worked on.</p>
      </div>
    </div>
    <div class="container has-text-centered">
      <div class="columns is-multiline">
        <div class="column">
          <div class="card" style="display: flex; flex-direction: column; height: 100%; margin-top: auto;">
            <div class="card-image">
              <figure class="image">
                <img src="/static/images/logos/gitlab.avif" alt="GitLab logo">
              </figure>
            </div>
            <div class="card-content">
              <div class="content has-text-left">
                <p>Since August 2023 I have been contributing to the main <a href="https://gitlab.com/gitlab-org/gitlab"
                    target="_blank">GitLab Application</a>, the <a href="https://gitlab.com/gitlab-org/gitlab-runner"
                    target="_blank">GitLab Runner</a>, the GitLab
                  <a href="https://gitlab.com/gitlab-org/container-registry" target="_blank">Container Registry</a> and
                  the
                  <a href="https://gitlab.com/gitlab-org/terraform-provider-gitlab" target="_blank">Terraform GitLab
                    Provider</a> on nights and weekends.
                </p>
                <p>It's been great working on applications and tools where even small changes can have such large impact
                  and being able to scratch my itch for writing Golang has been a nice bonus.</p>
              </div>
            </div>
            <footer class="card-footer" style="margin-top: auto;">
              <a class="card-footer-item"
                href="https://gitlab.com/groups/gitlab-org/-/merge_requests?author_username=strongishllama&scope=all&state=all"
                target="_blank">Merge
                Requests</a>
              <a class="card-footer-item"
                href="https://gitlab.com/groups/gitlab-org/-/issues?assignee_username%5B%5D=strongishllama&first_page_size=20&sort=due_date&state=all"
                target="_blank">Issues</a>
            </footer>
          </div>
        </div>
        <div class="column">
          <div class="card" style="display: flex; flex-direction: column; height: 100%; margin-top: auto;">
            <div class="card-image">
              <figure class="image">
                <img src="/static/images/logos/gofor-little.avif" alt="Gofor Little logo">
              </figure>
            </div>
            <div class="card-content">
              <div class="content has-text-left">
                <p>Towards the end of my time at 2pi Software I started to experiment with Golang more and more. This
                  eventually culminated in me creating the Gofor Little <a href="https://github.com/gofor-little"
                    target="_blank">GitHub Organization</a>. This Organization had the goal of creating "Little, yet
                  helpful Go packages".</p>
                <p>Once I joined Max Kelsen I had far less time on my hands so most of these repositories are now
                  archived and the code now feels rather trivial. But it taught me a lot about Golang and the automation
                  I built in layed the groundwork for a lot of my DevOps knowledge today.</p>
              </div>
            </div>
            <footer class="card-footer" style="margin-top: auto;">
              <a class="card-footer-item" href="https://github.com/gofor-little" target="_blank">Organization</a>
              <a class="card-footer-item" href="https://github.com/orgs/gofor-little/repositories"
                target="_blank">Repositories</a>
            </footer>
          </div>
        </div>
        <div class="column">
          <div class="card" style="display: flex; flex-direction: column; height: 100%; margin-top: auto;">
            <div class="card-image">
              <figure class="image">
                <img src="/static/images/logos/gruntwork.avif" alt="Gruntwork logo">
              </figure>
            </div>
            <div class="card-content">
              <div class="content has-text-left">
                <p>In July 2022 I did some work on Gruntwork's <a href="https://github.com/gruntwork-io/cloud-nuke"
                    target="_blank">Cloud Nuke</a>
                  tool as part of my work at Max Kelsen.</p>
              </div>
            </div>
            <footer class="card-footer" style="margin-top: auto;">
              <a class="card-footer-item"
                href="https://github.com/gruntwork-io/cloud-nuke/pulls?q=is%3Apr+author%3Astrongishllama"
                target="_blank">Pull
                Requests</a>
              <a class="card-footer-item"
                href="https://github.com/gruntwork-io/cloud-nuke/issues?q=is%3Aissue+author%3Astrongishllama"
                target="_blank">Issues</a>
            </footer>
          </div>
        </div>
        <div class="column">
          <div class="card" style="display: flex; flex-direction: column; height: 100%; margin-top: auto;">
            <div class="card-image">
              <figure class="image">
                <img src="/static/images/logos/cmfive.avif" alt="Cmfive logo">
              </figure>
            </div>
            <div class="card-content">
              <div class="content has-text-left">
                <p>From June 2018 to January 2022 I worked on the <a href="https://github.com/2pisoftware/cmfive-core"
                    target="_blank">Cmfive web framework</a> and it's <a
                    href="https://github.com/2pisoftware/cmfive-docs" target="_blank">documentation</a> as part of my
                  work at 2pi Software.</p>
              </div>
            </div>
            <footer class="card-footer" style="margin-top: auto;">
              <a class="card-footer-item"
                href="https://github.com/2pisoftware/cmfive-core/pulls?q=is%3Apr+author%3Astrongishllama"
                target="_blank">Cmfive Pull Requests</a>
              <a class=" card-footer-item"
                href="https://github.com/2pisoftware/cmfive-core/pulls?q=is%3Apr+author%3Astrongishllama"
                target="_blank">Docs Pull Requests</a>
            </footer>
          </div>
        </div>
      </div>
</main>
{{end}}