{{define "content"}}
<main>
  <div class="section container has-text-centered">
    <h1 class="title">Posts</h1>
    <div class="has-text-left">
      <ol>
        <l1>
          <h1>February 25th, 2021</h1>
          <a href="posts/graceful-shutdowns-with-signal-notify-context"><strong>Graceful Shutdowns with
              signal.NotifyContext</strong></a>
          <div>
            <span class="tag is-success is-light">golang</span>
            <span class="tag is-success is-light">cli</span>
          </div>
        </l1>
      </ol>
    </div>
  </div>
</main>
{{end}}